<!DOCTYPE html>
<html>
<head>
    <title>{$name}</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div>
    <h2 id="dd">{$name}</h2>
</div>

<form action="\home\Index\indexs" method="post" autocomplete="on">
    First name: <input type="text" name="fname" /><br />
    Last name: <input type="text" name="lname" /><br />
    E-mail: <input type="email" name="email" autocomplete="off" /><br />
    <input type="submit" />
</form>
</body>
</html>


<script>
    $(function () {
        $('#dd').css("font-size","12px");
        $('#dd').css("background","green");
    });

</script>